body{
 background-color: aliceblue;
 font-family: 'Comic Sans Ms';
 margin: 0px;
 padding: 0px;
 font-family: 'Comic Sans Ms';
 display: flex;
 justify-content: center;
}
content{
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 11px;
}
.objects{
    padding: 10px;
    display: flex;
    gap: 20px;
    width: 600px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.obj{
    min-width: 200px;
    min-height: 340px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid salmon;
    border-radius: 10px;
    box-shadow:  0 0 10px seagreen;
    background-color: rgb(255, 255, 255);
}
.zaholovok{
    background-color: brown;
    color: white;
    width: auto;
    padding: 10px;
    border-radius: 5px;
    text-transform: capitalize;
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 2px;
}
.contactyky p{
    margin: 4px;
}
.contactyky p:first-child{
    font-style: italic;
}
.contactyky p:last-child{
   border: 5px solid midnightblue;
   border-top: 0px;
   border-bottom: 0px;
   border-right: 0px;
}
.Adelicense{
    font-size: 10px;
    text-align: justify;
    color: grey;
}
.item-title{
    font-weight: bold;
}
.item-image{
    height: 200px;
}
.item-image img{
    height: 200px;
    width: 200px;
}
.parts-pay{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
.parts-pay img{
    height: 24px;
}
.price {
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
}
.price div:first-child{
    width: 100px;
    font-size: 20px;
}
.price div:first-child span{
    text-decoration-line: line-through;
}
.price div:first-child sup {
    font-size: 12px;
}
.price div:last-child{
    font-size: 24px;
}
.price div:last-child sup{
    font-size: 14px;
}
.price-bonus{
    background: rgb(201, 81, 81);
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.price-bonus div:first-child {
    width: 100px;
    font-size: 14px;
}
.price-bonus div:last-child {
    font-size: 24px;
}
.price-bonus div:last-child sup {
    font-size: 14px;
}
.txt{
    background-color: #ddd;
    border: 3px solid #aaa;
    color: #777;
    font-size:20px;
    font-family: Arial Bold;
    padding: 0 15px 5px 15px;
    position: absolute;
    user-select: none;
    transition-duration: 0.5s;
}
#AddObjButton{
    width: 9%;
    height: 3%;
    left: 1%;
    top: 1%;
    cursor: pointer;
}
#AddObjButton:hover{
    background-color: rgb(183, 247, 20);
    border: 3px solid rgb(183, 247, 20);
    box-shadow: 0 0 10px rgba(0, 5, 2, 0.5), 0 0 20px rgba(0, 0, 0, 0.5), 0 0 30px rgba(0, 0, 0, 0.5);
    scale: 1.1;
}
#panel{
    width: 50%;
    height: 50%;
    top: 20%;
    display: none;
}
#contenty{
    display: block;
}
.inpu{
    position: relative;
    margin: 10px;
}
#Add{
    left: 40%;
    top: 90%;
}
#Add:hover{
    background-color: rgb(183, 247, 20);
    border: 3px solid rgb(183, 247, 20);
    box-shadow: 0 0 10px rgba(0, 5, 2, 0.5), 0 0 20px rgba(0, 0, 0, 0.5), 0 0 30px rgba(0, 0, 0, 0.5);
    scale: 1.1;
}